.bg {
  display: block;
  width: 100%;
  height: auto;
}

.kitchen-stove {
  position: absolute;

  /* 👇 YOU EDIT THESE */
  top: 75%;
  left: 53%;

  width: 450px;
  height: 200px;

  transform: translate(-50%, -50%);
}

.bg.is-fading {
  opacity: 0.15;
  transition: opacity 180ms ease;
}

.overlays {
  position: absolute;
  inset: 0;
  pointer-events: none; /* allow only specific overlay items to be interactive */
}

.overlays.is-fading {
  opacity: 0;
  transition: opacity 150ms ease;
}

.noodles-overlay {
  position: absolute;
  top: 90%;
  left: 75%;
  pointer-events: auto; /* make it draggable */
  touch-action: none;   /* important for pointer dragging on mobile */
}

.pot-dropzone {
  position: absolute;
  top: 60%;
  left: 45%;

  width: 250px;
  height: 200px;

  pointer-events: none; /* drop detection uses rect, no need to click */
}

/* Optional debug visualization */
.debug-hotspots .pot-dropzone {
  outline: 2px dashed rgba(255,255,255,0.8);
}