body {
    margin: 0;
    background: #000;
  }
  
  .scene {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hotspot {
    position: absolute;
    cursor: pointer;
  }
  
  /* POT CLICK AREA */
  .pot-area {
    width: 10%;
    height: 6%;
    bottom: 41%;
    right: 14%;
}
    /* Base hotspot */
.hotspot {
    position: absolute;
    cursor: pointer;
  }
